body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #ece9e6, #ffffff);
  background-repeat: no-repeat; /* prevent repetition */
  background-attachment: fixed; /* optional, keeps gradient fixed on scroll */
  background-size: cover;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 8px;
}

thead {
  background-color: #3fdf4d;
}

table {
  border: 1px;
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9; 
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}


.skeleton-row td {
  padding: 8px;
}
.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px; /* adjust as needed */
  font-family: Arial, sans-serif;
}

.spinner {
  border: 6px solid #f3f3f3; /* light grey */
  border-top: 6px solid #3498db; /* blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
